<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div class="bank">
        <div>
            <button>登录</button>
        </div>
        <div style="">
            <button @click="yue">1.查询余额</button>
            <button @click='chaxun'>2.查询持卡人信息</button>
            <button>3.取款</button>
            <input type="text" v-model="qukuan">
            <button type="button" @click="qukuan">确认</button>
            <button>4.存款</button>
            <input type="text" v-model="qukuan">
            <button type="button" @click="cunkuan">确认</button>
            <button>5.退出</button>
        </div>
    </div>
    <script>
        vm = new Vue({
            el:'.bank',
            data:{
                    id:12345,
                    name:'鲍玉金',
                    yue:1234,
                    qukuan:0,
                    cnkuan:0
            },
            methods:{
                yue:function(){
                    console.log('vm.yue');
                },
                chaxun:function(){
                    console.log('id:' + vm.id);
                },
                qukuan:function(){
                    this.yue -= this.qukuan;
                    return this.yue;
                },
                cunkuan:function(){
                    this.yue += this.cunkuan;
                    return this.yue;
                }
            }
        })
    </script>
</body>
</html>
