<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 在 v-for 块中，我们拥有对父作用域属性的完全访问权限。 v-for 还支持一个可选的第二个参数为当前项的索引。 -->
    <ul id="example-2">
      <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
      </li>
    </ul>

    <script type="text/javascript">
    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
              { message: 'Foo' },
              { message: 'Bar' }
            ]
        }
    })
    </script>

    <!-- 也可以用 v-for 通过一个data的属性来迭代。 -->
    <ul class="repeat-object">
      <li v-for="value of object">
        {{ value }}
      </li>
    <!-- 也可以提供第二个的参数为键名,第三个参数为索引 -->
      <li v-for="(value, key, index) of object" >
        {{ index }}. {{ key }} : {{ value }}
      </li>
      <!-- 这些v-指令都只在被vue对象作用的范围中才会生效 -->
      <!-- v-for 也可以取整数。在这种情况下，它将重复多次模板。 -->
      <div>
        <span v-for="n in 10">{{ n }}</span>
      </div>
    </ul>

    <script type="text/javascript">
        new Vue({
            el: '.repeat-object',
            data: {
                object: {
                    FirstName: 'John',
                    LastName: 'Doe',
                    Age: 30
                }
            }
        })
    </script>

    <ul id="do">
        <!--v-for 的优先级比 v-if 更高，这意味着 v-if 将分别重复运行于每个 v-if 循环中。-->
        <!--v-for中是不能使用计算属性computed的，这时候你得使用methods-->
    <li v-for="todo in todoTh" v-if="!todo.isComplete" :key="todo.id">
      <div>
          {{ todo.detail }}
      </div>
    </li>
    </ul>
    <script src="js/vue-resource.js"></script>
    <script type="text/javascript">
        vm = new Vue({
            el:'#do',
            data:{
                todoTh:[]
            },
            mounted: function() {
                this.$nextTick(function () {
                    this.cartView();
                });
            },
            methods:{
                cartView: function(){
                    this.$http.get("data/todoData.json", {"id":1}).then(res=>{
                        this.todoTh = res.data.result.list;
                        console.log(res)
                        console.log(this.todoTh)
                    })
                }
            }
        })
    </script>

    <ul class="eg">
    <li v-for="n in evenNumbers">{{ n }}</li>
    <li v-for="n in even(numbers)">{{ n }}</li>
    </ul>

    <!--有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。在这种情况下，可以创建返回过滤或排序数组的计算属性。-->
    <!--计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 使用 method 方法-->
    <script>
        new Vue({
            el:'.eg',
            data:{
                numbers:[1,2,10,3,4,5]
            },
            computed:{
                evenNumbers: function () {
                    return this.numbers.filter(function (number) {
                        return number % 2 === 0
                    })
                }
            },
            methods:{
                even: function (numbers) {
                    return numbers.filter(function (number) {
                        return number % 2 === 0
                    })
                }
            }
        })
    </script>
</body>
</html>
