<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
    <div class="app">
        <ul>
            <!-- 将todo属性指向data中的list，并将data中的子元素装进item中用v-for循环出来 -->
            <todo-item v-for="item in list" :todo="item"></todo-item>
        </ul>
    </div>

    <script type="text/javascript">
    // 组件的名但并不显示成为dom，接受的属性｛props：绑定的属性，名为todo， template：实际显示的dom｝
    // 要确保在初始化根实例 之前 注册了组件
        Vue.component('todo-item',{
            props:['todo'],
            template:'<li>{{todo.text}}</li>'
        })

        new Vue({
            el:".app",
            data:{
                list:[
                    {text:'11'},
                    {text:'22'},
                    {text:'33'}
                ]
            }
        })
    </script>
</body>
</html>
