<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>events</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="counter">
        <p>{{total}}</p>
        <!-- 这里自定义创建了一个increment事件，并给该事件绑定了一个incrementTotal方法 -->
        <!-- 父组件使用v-on来绑定监听子组件触发的事件的方法 -->
        <!-- 先是点击产生的子元素来触发incremen方法，再由该方法中通知触发父元素的increzdy方法 -->
        <!-- 用绑定在button-counter上的incrementzdy方法来触发绑定在vue实例上的incrementTotal方法 -->
        <button-counter @incrementzdy="incrementTotal"></button-counter>
        <button-counter @incrementzdy="incrementTotal"></button-counter>
    </div>

    <script type="text/javascript">
        Vue.component('button-counter', {
            // 不能用$on侦听子组件抛出的事件，而必须在模板里用v-on绑定触发方法
            template: '<button @click="increment">{{ counter }}</button>',
            data: function() {
                return {
                    counter: 0
                }
            },
            // 用于定义子组件中的方法
            methods: {
                increment: function() {
                    this.counter += 1
                    // 这里使用 $emit(eventName) 通知需要触发在父组件自定义的事件
                    this.$emit('incrementzdy')
                }
            },
        })

        new Vue({
            el: '#counter',
            data: {
                total: 0
            },
            methods: {
                incrementTotal: function() {
                    this.total += 1
                }
            }
        })
    </script>
</body>

</html>
